.project-slider {
    width: 100vw;
    height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.swiper {
    max-width: 800px;
    width: 95%;
    height: max-content;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-wrapper {
    height: max-content;
}

.swiper-slide {
    display: flex;
    align-items: center ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.swiper-slide img {
    border-radius: 0.5rem;
    display: block;
    width: 100%;
}


.swiper-pagination {
    margin-top: auto;
}

