@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* Variables */
:root {
  --font-family: "Roboto Condensed";
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: hsla(0, 0%, 0%, 0.5);
  --backdrop: linear-gradient(0, rgb(76, 20, 20), black);
  --primary-color: #f1f1f1;
  --secondary-color: #957f75a9;
  --primary-shadow: #f1f1f1;
  --secondary-shadow: #b10000;
  --bottom-margin: 1rem;
  --bottom-margin-2: 2rem;
  --line-height: 1.8rem;
  --transition: 0.3s;
  --shadow-effect: 0px 2px 15px 2px var(--primary-shadow);
  --shadow-effect-secondary: 0px 2px 15px 2px var(--secondary-shadow);
  font-size: 20px;;

}

html {
  text-align: center;
  color: var(--primary-color);

}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  word-spacing: 3pt;
}


body {
  font-family: var(--font-family);
  background-image: var(--backdrop);
}

#super {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;

}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3.5rem 0 1.5rem;
  background-color: var(--bg-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter:blur(5px);
  
  width: 100vw;

}

nav h1 a {
  color: var(--primary-color);
  font-size: 52px;
}

nav img {
  display: inline;
  /* fill: transparent; */
  height: 3rem;
  stroke-width: 8px;
  stroke: var(--primary-color);
}


nav ul {

  display: flex;
  width: 75%;
  justify-content: space-around;
  
}

.nav-text {
  fill: var(--primary-color);
  align-self: center;
}

/* --------------------------------------------button animations-------------------------------------------------------- */

.shape {
  stroke-dasharray: 100 260;
  stroke-dashoffset: -170;
  fill: transparent;
  stroke-width: 8px;
  stroke: var(--primary-color);
}

.nav-link {
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
  top: 0.5rem;
}

.svg-wrapper {
  cursor: pointer;
  height: 2rem;
	margin: 0 auto;
  top: 50%;
  width: 3rem;
  color: var(--primary-color);
}



@keyframes draw {
  0% {
    stroke-dasharray: 80 360;
    stroke-dashoffset: -170;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape,
.svg-wrapper:focus .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
  transition: ease-in-out 0.5s;
}



/* --------------------------------------------------------------------------------------------------------------------- */
.arrow-menu {
  color: var(--primary-color);
  font-size: 4rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero-img {
  height: 30%;
  max-height: 19rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-effect-secondary);
}


.bio {
  width: 90vw;
  max-width: 40rem;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-effect-secondary);
  text-align: center;
}


.bio h1 {
  margin-bottom: var(--bottom-margin-2);
}

.bio h3 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  word-spacing: 2pt;
}

.allow-me {
  word-spacing: 4pt;
  font-weight: 600;
}

.more-about {
  height: 100vh;
  display: flex;
  align-items: center;;

}

.more-about > h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.my-method {
  /* background-color: var(--bg-color); */
  max-width: 50rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-effect-secondary);
  width: 90%;
  top: 50%;
  border-radius: 1rem;
}


.my-method > p {
  border-bottom: 1px solid var(--secondary-color);
  line-height: var(--line-height);
  text-align: left;
  padding: 0.4rem;
}

.skills {
  max-width: 50rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skills-header {
  margin-bottom: 1rem;
}

.skills-wrapper {
  width: 100%;
}

.skills-wrapper img {
  padding: 0.75rem;
}

.icon-card {
  background-color: #d3d3d3d3;
  width: 25%;
  aspect-ratio: 1 /1;
  border-radius: 1rem;
  max-width: 19rem;
  box-shadow: 0 5px 15px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.projects {
  text-align: center;
  max-width: 50rem;
  margin: auto;
}

.carousel {
  width: 100%;
  height: 60%;
  position: relative;
}

.carousel-button {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  color: #ffffff99;
  font-size: 5rem;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-button:hover,
.carousel-button:focus {
  
  color: #f1f1f1;
  transition: all ease-in 0.25s;
}
.carousel-button:focus {

  outline: 1px solid #ffffff99;
}
.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide[data-active] {
  opacity: 1;
}

.projects-title {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.project-container {
  width: 100%;
  display:flex;
  /* align-items: center; */
  object-fit: cover;
}

.project-title {
  position: absolute;
  top:20%;
  left: 50%;
  transform: translateX(-50%);
  color: yellow;
  z-index: 1;
  margin-bottom: auto;
}

.project-pic {
  /* display: block; */
  position: relative;
  width: 100%;
  height: auto;
}


.project-card {
  background-color: var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px 0;
  margin: 10px;
}


.contact {
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container { 
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 1rem;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  padding-left: 0.5rem;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  color:var(--primary-color);
}

.contact-form-container .input-field {
  width: 100%;
  font-size: 1.2rem;
  color: purple;
  padding: 0.5rem;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  border-radius: 1rem;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 10px;
  color: var(--secondary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: var(--primary-color);
  background-color: hsla(0, 0%, 20%, 0.682);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  cursor: pointer;
}

.submit-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.socials {
  color: var(--primary-color);
  backdrop-filter:blur(5px);
  background-color: var(--backdrop);
  display: flex;
  margin-top: 2rem;;
  /* z-index: 1; */
  left: calc(50vw - 35%);
}

.socicon {
  width: 5vh;
  height: auto;
  transition: ease-out 0.2s;
  
}

.socicon:hover
.socicon:focus {
  transform: scale(1.2);
  transition: ease-in 0.2s;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  /* position: fixed; */
}


.scroll-up {
  position: fixed;
  left: calc(50vw - 35%);
  bottom: 10%;
  cursor: pointer;
  transform: scale(1);
  transition: ease-out 0.2s;

}


.scroll-up:hover {
  transform: scale(1.2);
  transition: ease-in 0.2s;
  
  }

/* ><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* ><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* ><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

@media screen and (max-width: 720px) {
  /* 720px width and below */
  nav {
    padding: 0;
    justify-content: space-around;
    height: 6rem;
  
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
      backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    flex-direction: column;
    top: 6rem;
    width: calc(100% - 2rem);
    transform: translateX(110%);
    transition: transform 0.5s ease-in;
    justify-content: center;
  }
  
  nav ul.show {
    transform: translateX(0);
    transition: transform 0.5s ease-out;
  }
  nav ul li {
    left: 5%;
    margin: 1.2rem 0;
  }
  
  .arrow-menu {
    display: block;
  }
  
  .bars {
    transform: rotateY(0deg);
    transition: transform 0.5s ease-in-out;
  }
  
  .rotate {
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in;
  }
  
  
  .hero {
    flex-direction: column;
    gap: 0;
  }
  
  .hero-img {
    height: 20vh;
    /* width: 20vh; */
    opacity: 0.9;    
    margin-top: 6.5rem;
  }
  
  
  .bio {
    margin-top: 1.5rem;
  }
  
  
  .my-method {  
    padding: 0.5rem;
    text-align: center;
  }

  .icon {
    width: 33%;
    aspect-ratio: 1/1;
  }
  
  
  .project-container {
    /* flex-basis: 37.5rem ; */
    
    width: 100%;
  }
  
  .project-pic {
    width: 100%;
    height: auto;

  }
  
  
  .contact-form-container {
    max-width: 90%;
  }
  
  .socials {
    left: 3%;}
    
    .scroll-up {
      position: fixed;
      left: 3%;
      bottom: 6%;
      cursor: pointer;
    }
    
  }
  
  @media screen and (max-width: 420px) {
    * {
      font-size: 14px;
    }
  /* .hero img {
    height: 37.5rem;
    width:23rem;
  } */
  .nav-link {
    font-size: 1.2rem;
  }
  
  .bio {
    min-width: 14rem;
  }


  
  /* .project-container {
    width: 17.875rem;
  } */
}


/* -------------------------------------------------------------------------------------------------------Test Button CSS------------------------------------------------------------------------------------------------------------------------- */












