html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --retro-blue-green: #40BCB8ff;
  --retro-rich-black-fogra-39: #060C0Cff;
  --retro-acid-green: #B1BB17ff;
  --retro-flickr-pink: #E82E83ff;
  --retro-gunmetal: #052330ff;






}









.navbar {
    height: 70px;
    width: 100%;
    background: black;
    color: white;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}



.retro {
}