@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {

  /* ===============COLOR================ */
  --jet: hsla(228, 10%, 20%, 1);
  --onyx: hsla(225, 10%, 24%, 1);
  --green-ryb: hsla(85, 72%, 40%, 1);
  --less-green: hsla(85, 72%, 40%, 0.8);
  --magnolia: hsla(280, 23%, 95%, 0.9);
  --magnolia-half: hsla(280, 23%, 95%, 0.75);
  --eggy: hsla(84, 100%, 86%, 0.604);
  --other-blue: hsl(240, 1%, 35%, 1);
  --clear: hsla(250, 72%, 40%, 0.2);
  --nyanza: hsla(85, 72%, 23%, 0.2);
  
  /* --retro-blue-green: #40BCB8ff;
  --retro-rich-black-fogra-39: #060C0Cff;
  --retro-acid-green: #B1BB17ff;
  --retro-flickr-pink: #E82E83ff;
  --retro-gunmetal: #052330ff; */

  --clr-bg-rt: var(--eggy);
  --clr-clear: var(--clear);
  --clr-bg-lt: var(--nyanza);
  --clr-theme: var(--green-ryb);
  --clr-less-theme: var(--less-green);
  --clr-less-white: var(--magnolia-half);
  --clr-text: var(--onyx);
  --clr-bg: var(--magnolia);
  --clr-contrast: var(--jet);
  --clr-contrast-rt: var(--onyx);
  --clr-accent: var(--other-blue);
  
  --swiper-theme-color: var(--clr-theme);

  --gap-sml: 0.5em;
  --gap-big: 1.5em;
  /* ===============FONT================ */

  --body-font: 'Poppins', sans-serif;
  

}


/* ============== Globals ================ */

html, * {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  font-family: var(--body-font);
  overflow-x: hidden;
  
  scroll-behavior: smooth;

}

body {
  background: linear-gradient(to bottom, var(--clr-bg) 75%, var(--clr-contrast) 100%);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--clr-text);
}

ul {
  list-style: none;
}

a { 
  text-decoration: none;
}

.container {
  max-width: 968px;
  height: fit-content;
  
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ===================== Profile ================= */

#profile {
  /* position: relative; */
  padding-top: 3.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__perfil {
  width: 200px;
  height: 200px;
  background: linear-gradient(180deg, 
              var(--clr-bg) 25%,
              var(--clr-theme) 75%);
  border-radius: 50%;
  overflow: hidden;
  display:flex;
  align-items: flex-end;
  justify-content: center;
}

.profile__perfil img {
  width: 175px;
}

.profile__border {
  border: 0.5rem solid var(--clr-theme);
  justify-self: center;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
}

.profile__name {
  margin-block: 2rem;
  
}


/* ===================== Socials ================= */

.socials {
  display:flex;
  max-width: 24rem;
  line-height: 1.5rem;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  margin: 1rem auto;
}

.socicon {
  background-color: var(--clr-less-theme);
  padding: 0.2rem;
  width: 3.5rem;
  cursor:pointer;
  transition: all ease-in 200ms;
  box-shadow: 0px 1px .5rem var(--clr-bg);
  border-radius: .5rem;
  margin: 0.5rem;

}

.button:hover,
.button:active {
  filter: drop-shadow(0px 0px 2px var(--clr-bg)) drop-shadow(2px 2px 1px var(--clr-theme));
  transform: translateX(-2px) translateY(-2px);
  transition: all ease-out 200ms;  
}

.form-submit {
  background-color: var(--clr-theme);
  color: var(--clr-contrast);
  padding: .5rem 1.5rem;
  width: fit-content;
  border: none;
  text-align: center;
  

}

span {
  font-weight: 700;
  align-self: justify;
  line-height: 1.5em;
}





/* ================= Summary =================== */

.summary-header {
  margin: 2rem auto 0;
  width: 80%;
  text-align: center;
}

.card {
  border-radius: 0.5em;
  padding: 1em;
  overflow-x: unset;
  text-align: justify;

}

.summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;

}


.borderless {
  /* box-shadow: 1px 1px 1rem var(--clr-theme); */
  max-width: 15rem;
}

.loose-text{
  width: calc(100vw - 4rem);
  max-width: 968px;
  text-align: center;

}

.light {
  background-image: linear-gradient(
    to right, 
    var(--clr-bg-lt) 0%,
    var(--clr-bg-lt) 50%, 
    var(--clr-bg-rt) 50%, 
    var(--clr-bg-rt) 100%);
}

.contrast {
  color: var(--clr-theme);
  background-image: linear-gradient(
    to right, 
    var(--clr-contrast) 0%,
    var(--clr-contrast) 50%, 
    var(--clr-contrast-rt) 50%, 
    var(--clr-contrast-rt) 100%);
}



.description-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1rem);
  margin-block: 2rem;
  max-width: 40rem;
}

.description-card p {
  margin-inline: auto;
  position: relative;
}

.desktop {
  margin-block: 0 2rem;
  max-width: 480px;
  width: 70%;
  height: auto;
}

.mobile {
  width: 30%;
  position: relative;
  top: -10%;
  left: -75%;  
}



p {
  word-spacing: 1.15pt;
  letter-spacing: 1pt;

}

/* <<================ THEME ================>>  */

.change-theme {
  font-size: 2em;
  padding: 0.2em;
  transition: all ease-out 200ms;
  cursor: pointer;
  color: var(--clr-theme);
  background-color: var(--clr-contrast-rt);
  border-radius: 50%;
}

.change-theme:hover {
  transition: all ease-in 200ms;
}

/* <<========== Variables Dark Theme ===========>>  */

body.dark-theme {

  --clr-text: var(--magnolia);
  --clr-bg: var(--onyx);
  --clr-contrast: #fffb;
  --clr-contrast-rt: var(--magnolia);
  --clr-accent: var(--other-blue);
  --clr-less-theme: hsla(84, 36%, 36%, 0.731); ;

}

/* <<================ Filters ================>>  */

.filters__sections {
  width: calc(100% - 2rem);
}

.filters__picker {
  width: calc(90% - 1rem);
  max-width: 40rem;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  padding: .375rem;
  border-radius: .75rem;
  background-color: var(--clr-less-theme);
  justify-content: space-between;
  text-align: center;
  column-gap: .5rem;
}

.filters__button {
  width: 47.5%;
  min-width: 220px;
  border: none;
  outline: none;
  padding: 1rem;
  margin: 0.1rem;
  font-size: 1em;
  color: var(--clr-contrast-lt);
  border-radius: .75rem;
  cursor: pointer;
  background-color: var(--clr-bg-rt);
  transition: .3s;
  border: 2px solid var(--clr-bg);
}

.alt {
  background-color: var(--clr-bg);
}


.filters__button:hover {
  background-color: var(--clr-bg-lt);
  color: var(--clr-bg);
  border: 2px solid transparent;
}

/* Hide and show projects & services */
.filters [data-content] {
  display: none;
}

.filters__active[data-content] {
  display: grid;
}

/* Activate button filter */
.filter-tab-active {
  background-color: var(--clr-bg);
  color: var(--clr-theme);
  border: 2px solid transparent;
  
}



/* <<================ projects ================>>  */

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
}

.projects__subtitle, 
.projects__title {
  color: var(--onyx);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--clr-theme);
}

.projects__subtitle {
  word-spacing: normal;
  padding: 0.5rem 0;
}

.projects__button {
  color: var(--clr-theme);
  border-radius: .5rem;
  }

.link {
  background-color: var(--clr-bg);
  padding: .5rem;
  border-radius: 0.5rem;
}





/* <<================ skills ================>> */

/* .skill-section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
} */

.skill-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}

.skill-item img {
  width: 3.5rem;
  margin: 1rem auto;
}

.skill-item p {
  border-top: 2px solid var(--clr-theme);

}


/* <<================ services ================>> */




.services__area, .skill-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  max-width: 986px;
  border-radius: 0.5rem;
}


.service {
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  transition: all ease-in 150ms;
}


.service__icon {
  /* height: auto; */
  max-width: 5em;
  display:inline;
  margin: 0.5rem;
}

.service__text {
  padding: .5rem;
  line-height: 1em;

}

.service h4 {
  height: 2.75em;
  line-height: 1.25em;
}

.service p {
  height: max-content;
  display: inline;
  padding: 0 4px;
}




/* =============== FOOTER =============== */
.footer__copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  color: var(--clr-less-theme);
}
.footer {
  width: 100%;
}


/* =============== Contact Form =============== */
.contact .container {
  width: 90%;
  text-align: center;

}

.contact h3 {
  text-align: center;
  margin-top: 5rem;
}

.contact > .socials {
  margin: auto;
}

.contact-form-container { 
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  /* box-shadow: 3px 3px 10px var(--clr-less-theme); */
}

.form-control label {
  padding: 10px;
  line-height: 2.7em;
  text-align:center;
  font-weight: var(--body-font);
  color: var(--clr-contrast);
}

.form-control textarea {
  min-height: 6.25rem;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--clr-contrast);
  outline: none;
}


.iframe-container{
  position: relative;
  width: calc(100% - 1em);
  border-radius: 1em;
  border: 5px solid var(--clr-theme);
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* =============== SCROLL BAR =============== */
 ::-webkit-scrollbar {
   
   background-color: var(--clr-bg);
   outline: 1px solid (var(--clr-theme));
   
  }
  
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-less-theme);
  border-radius: .5rem;

}



/* =============== BREAKPOINTS =============== */

/* For small devices */




@media screen and (max-width: 776px) {
  
  .summary {
    flex-direction: column;
  }

  #profile {
    margin-top: 5%;
  }

  .filters__picker {
    width: min-content;
  }


  .alt {
    background-color: var(--clr-bg-lt);
    color: var(--clr-contrast);
  }

  .services__area, .skill-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .services__area, .skill-section {
    grid-template-columns: 1fr;
  }

  .skills__content {
    grid-template-columns: repeat(1, auto);
  }

  .skills-item {
    justify-content: center;
    width: 100%;
  }
} 

@media screen and (max-width: 380px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profile__info {
    column-gap: 1.5rem;
  }
  .profile__buttons {
    flex-direction: column;
    row-gap: 1rem;
  }

  .filters__button {
    padding: 0.5rem;
  }

  .socials a img {
    width: 2.5rem;
  }


}

@media screen and (min-width: 776px) {
  
  .summary {
    flex-direction: row;
  }
  
  .skills__content {
    grid-template-columns: repeat(auto);
  }
  
  .services__content {
    justify-content: center;
    column-gap: 3rem;
    width: 100%;
  }

  .filters__content {
    width: calc(90% - 1em);
    margin: auto;
  }
}



/* For large devices */

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .profile__info {
    column-gap: 1rem;
  }

  .profile__buttons {
    column-gap: 2rem;
  }

  .skills__content {
    gap: 2rem;
  }


  .services__title {
    margin-bottom: 2.5rem;
  }

  .footer__copy {
    margin: 4.5rem 0 2.5rem;
  }
}
