/* Coolors Exported Palette - https://coolors.co/98c1d9-216869-3f3244-2f2235 */

/* CSS HEX */
--dark-sky-blue: #98c1d9ff;
--skobeloff: #216869ff;
--english-violet: #3f3244ff;
--dark-purple: #2f2235ff;

/* CSS HSL */
--dark-sky-blue: hsla(202, 46%, 72%, 1);
--skobeloff: hsla(181, 52%, 27%, 1);
--english-violet: hsla(283, 15%, 23%, 1);
--dark-purple: hsla(281, 22%, 17%, 1);

/* SCSS HEX */
$dark-sky-blue: #98c1d9ff;
$skobeloff: #216869ff;
$english-violet: #3f3244ff;
$dark-purple: #2f2235ff;

/* SCSS HSL */
$dark-sky-blue: hsla(202, 46%, 72%, 1);
$skobeloff: hsla(181, 52%, 27%, 1);
$english-violet: hsla(283, 15%, 23%, 1);
$dark-purple: hsla(281, 22%, 17%, 1);

/* SCSS RGB */
$dark-sky-blue: rgba(152, 193, 217, 1);
$skobeloff: rgba(33, 104, 105, 1);
$english-violet: rgba(63, 50, 68, 1);
$dark-purple: rgba(47, 34, 53, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);
$gradient-right: linear-gradient(90deg, #98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);
$gradient-bottom: linear-gradient(180deg, #98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);
$gradient-left: linear-gradient(270deg, #98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);
$gradient-top-right: linear-gradient(45deg, #98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);
$gradient-bottom-right: linear-gradient(135deg, #98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);
$gradient-top-left: linear-gradient(225deg, #98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);
$gradient-bottom-left: linear-gradient(315deg, #98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);
$gradient-radial: radial-gradient(#98c1d9ff, #216869ff, #3f3244ff, #2f2235ff);